<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<img src="/static/aboutuspicture.png" alt="" width = "160" height = "200">
<h2>Dallia's Biography</h2>

<p>Dallia was born and raised in the Bay area. She understands three languages on a conversational level, Vietnamese, Cantonese, and English.</p>
<p>Intended purpose: To help people struggling in Vietnamese and Cantonese</p>
<p>Description of each user: This application will educate users on how to format sentences, give an explanation for each phrase and word, and allow users to with each other for advice.</p>

{% endblock %}
