<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<p>Cantonese section</p>
<h1>Cantonese table chart</h1>

<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cantonese Word</th>
        <th scope="col">Audio</th>
        <th scope="col">Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Yeye</td>
        <td>Pronounced "yeeyee"</td>
        <td>Means aunt</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sok Sok</td>
        <td>Use high tone</td>
        <td>Used for uncles</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"> Popo</td>
        <td> What you would call your maternal grandma</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">Gong Gong</td>
        <td>What you would call your maternal grandpa</td>
      </tr>
    </tbody>
  </table>

  <h1>Words used in an example sentence</h1>
{% endblock %}