<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<p>Vietnamese section</p>

<h1>How to address people in Vietnamese</h1>


  <table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vietnamese Word</th>
        <th scope="col">Audio</th>
        <th scope="col">Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Bac</td>
        <td>Pronounced "Back"</td>
        <td>Gender neutral term used for the elderly</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Anh</td>
        <td>Say the word "and" but without the d</td>
        <td>Used for males that are old enough to be your sibilings</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td> Ba</td>
        <td>What a lamb would say</td>
        <td> What you would call your grandma</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ong</td>
        <td></td>
        <td>What you would call your grandpa</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Em</td>
        <td></td>
        <td>What you would call yourself to someone who is your age</td>
      </tr>
    </tbody>
  </table>

  <h1>Words used in an example sentence</h1>
{% endblock %}